@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
	<p>Contributors:</p>

	<p>Nguyễn Trương Đình Du - 20520159</p>
	<p>Nguyễn Việt Hoàng - 19521540</p>
	<p>Dương Thành Đạt  - 20521165</p>
</div>